:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --white-color: #ffffff;
  --blue-color: #2196f3;
  --footer-text-colors: rgba(255, 255, 255, 0.6);
  --background-color-hero-footer: #2f303a;
  --main-background-color: #ffffff;
  --backgrount-color-team: #f5f4fa;
  --backgrount-btn-active: #188ce8;
  --border-header: #ececec;
  --border-portfolio-pictures: #eeeeee;
}
/* -----------------BODY------------------------- */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--main-background-color);
}
li {
  list-style-type: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* -----------------HEADER--------------------------- */
.header {
  background-color: var(--white-color);
  border-bottom: 1px solid var(--border-header);
}
.container.header-container {
  display: flex;
  align-items: center;
}
.site-nav {
  margin-right: auto;
}
.site-nav-list {
  display: flex;
  gap: 50px;
  text-align: center;
}
.site-contacts-list {
  display: flex;
  gap: 50px;
  margin-left: auto;
}
.logo {
  color: var(--blue-color);
  padding-top: 25px;
  padding-bottom: 25px;
  margin-right: 92px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  letter-spacing: 0.03em;
  text-decoration-line: none;
}
.logo-black {
  color: #000000;
}
.link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  text-decoration-line: none;
}
.site-nav-item > .link {
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--blue-color);
}

.site-nav .link-current {
  color: var(--blue-color);
  padding-bottom: 32px;
  padding-top: 32px;
  display: block;

  text-decoration-line: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
}

.phone,
.mail {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  text-decoration-line: none;
}
.header-icons {
  fill: var(--primary-text-color);
  margin-right: 10px;
}
.mail:hover .header-icons,
.mail:focus .header-icons {
  fill: var(--blue-color);
}

.mail:hover {
  color: var(--blue-color);
}

.phone:hover {
  color: var(--blue-color);
}

.phone:focus {
  color: var(--blue-color);
}
.mail:focus {
  color: var(--blue-color);
}
/* -----------------------SECTION HERO------------------ */
.hero {
  background-color: var(--background-color-hero-footer);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  color: var(--white-color);
  margin-bottom: 30px;

  font-family: "Roboto";
  font-weight: 900;
  font-size: 44px;
  text-transform: uppercase;
  line-height: 1.3636;
}
.hero-button {
  color: var(--white-color);
  padding: 10px 32px;
  min-width: 216px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  cursor: pointer;

  background: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0ch;
}
.hero-button:hover,
.hero-button:focus {
  background-color: var(--backgrount-btn-active);
}
/* ----------------SECTION FEATURES----------------- */
.features {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* visually-hidden */
.features-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-list {
  display: flex;
  gap: 30px;
}
.features-item {
  flex-basis: calc((100% - 90px) / 4);
}
.features-subtitle {
  color: var(--secondary-text-color);
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.features-text {
  color: var(--primary-text-color);

  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
}
/* ------------SECTION ACTIVITIES----------------------- */
.activities {
  padding-bottom: 94px;
}
.activities-list {
  display: flex;
  gap: 30px;
}
.activities-item {
  flex-basis: calc((100% - 60px) / 3);
}
.activities-title {
  color: var(--secondary-text-color);
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.1666;
  text-align: center;
  letter-spacing: 0.03em;
}
/* -------------SECTION OUR TEAM---------------------------- */
.team {
  background-color: var(--backgrount-color-team);
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-title {
  color: var(--secondary-text-color);

  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.1666;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-list {
  display: flex;
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
}
.team-item {
  flex-basis: calc((100% - 90px) / 4);
}
.team-text-wrapper {
  padding: 30px;
}

.team-list > .team-item {
  background-color: var(--white-color);
}
.team-subtitle {
  color: var(--secondary-text-color);
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-text {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
}
/* ---------------FOOTER--------------------- */
.footer {
  background-color: var(--background-color-hero-footer);
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo-footer {
  color: var(--blue-color);
  display: block;
  margin-bottom: 20px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  letter-spacing: 0.03em;
  text-decoration-line: none;
}
.logo-white {
  color: var(--white-color);
}
.address {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
}
.adr-text {
  color: var(--white-color);
  display: block;
  margin-bottom: 9px;
}
.map-navigation {
  margin-bottom: 9px;
  text-decoration-line: none;
}
.adr-text:hover,
.adr-text:focus {
  color: var(--blue-color);
}
.address-item > .phone-footer {
  color: var(--footer-text-colors);
  text-decoration: none;
}
.address-item > .mail-footer {
  color: var(--footer-text-colors);
  text-decoration-line: none;
}
.mail-footer {
  display: block;
  margin-bottom: 9px;
}
.mail-footer:hover {
  color: var(--blue-color);
}
.phone-footer:hover {
  color: var(--blue-color);
}
/* --------------PORTFOLIO-------------- */

.main-portfolio {
  background-color: var(--main-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.portfolio-btn-list {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 34px;
}
.portfolio-btn {
  text-align: center;
  color: var(--secondary-text-color);
  min-width: 73px;
  padding: 6px 25px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  border: 0ch;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-radius: 4px;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--white-color);
  background-color: var(--blue-color);
}

.examples-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.examples-list-item {
  background-color: var(--white-color);
  flex-basis: calc((100% - 60px) / 3);
}

.examples-subtitle {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}
.examples-link {
  text-decoration: none;
}
.examples-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}
.portfolio-wrapper {
  padding: 20px 24px;
  border: 1px solid var(--border-portfolio-pictures);
}
